/* eyes_1_blue_side */
#eyes_1_blue_side .cls-1 {
    fill: #fff;
}

#eyes_1_blue_side .cls-2 {
    fill: #4ec9f5;
}

#eyes_1_blue_side .cls-3 {
    fill: #231f20;
}

/* eyes_1_brown_side */
#eyes_1_brown_side .cls-1 {
    fill: #fff;
}

#eyes_1_brown_side .cls-2 {
    fill: #624434;
}

#eyes_1_brown_side .cls-3 {
    fill: #231f20;
}

/* head_1_round_dark_front */
#head_1_round_dark_front .cls-1 {
    fill: #fff;
}

#head_1_round_dark_front  .cls-2 {
    fill: #231f20;
}

#head_1_round_dark_front  .cls-3 {
    fill: #a27b56;
}

#head_1_round_dark_front  .cls-4 {
    fill: #876055;
    opacity: 0.51;
}

#head_1_round_dark_front  .cls-5 {
    fill: #ede0dc;
}

/* head_1_round_dark_side */
#head_1_round_dark_side .cls-1 {
    fill: #fff;
}

#head_1_round_dark_side .cls-2 {
    fill: #231f20;
}

#head_1_round_dark_side .cls-3 {
    fill: #a27b56;
}

#head_1_round_dark_side .cls-4 {
    fill: #876055;
    opacity: 0.51;
}

#head_1_round_dark_side .cls-5 {
    fill: #ede0dc;
}

/* head_1_round_darkest_front */
#head_1_round_darkest_front .cls-1 {
    fill: #fff;
}

#head_1_round_darkest_front .cls-2 {
    fill: #231f20;
}

#head_1_round_darkest_front .cls-3 {
    fill: #735640;
}

#head_1_round_darkest_front .cls-4 {
    fill: #553b32;
    opacity: 0.51;
}

#head_1_round_darkest_front .cls-5 {
    fill: #ede0dc;
}

/* head_1_round_darkest_side */
#head_1_round_darkest_side .cls-1 {
    fill: #fff;
}

#head_1_round_darkest_side .cls-2 {
    fill: #231f20;
}

#head_1_round_darkest_side .cls-3 {
    fill: #735640;
}

#head_1_round_darkest_side .cls-4 {
    fill: #553b32;
    opacity: 0.51;
}

#head_1_round_darkest_side .cls-5 {
    fill: #ede0dc;
}

/* head_1_round_fair_front */
#head_1_round_fair_front .cls-1 {
    fill: #fff;
}

#head_1_round_fair_front .cls-2 {
    fill: #231f20;
}

#head_1_round_fair_front .cls-3 {
    fill: #f2d4c9;
}

#head_1_round_fair_front .cls-4 {
    fill: #c4a3a1;
}

#head_1_round_fair_front .cls-5 {
    fill: #f9f9fa;
}

/* head_1_round_fair_side */
#head_1_round_fair_side .cls-1 {
    fill: #fff;
}

#head_1_round_fair_side .cls-2 {
    fill: #231f20;
}

#head_1_round_fair_side .cls-3 {
    fill: #f2d4c9;
}

#head_1_round_fair_side .cls-4 {
    fill: #c4a3a1;
}

#head_1_round_fair_side .cls-5 {
    fill: #f9f9fa;
}

/* head_1_round_medium_front */
#head_1_round_medium_front .cls-1 {
    fill: #fff;
}

#head_1_round_medium_front .cls-2 {
    fill: #231f20;
}

#head_1_round_medium_front .cls-3 {
    fill: #e6c2a9;
}

#head_1_round_medium_front .cls-4 {
    fill: #b29286;
    opacity: 0.51;
}

#head_1_round_medium_front .cls-5 {
    fill: #ede0dc;
}

/* head_1_round_medium_side */
#head_1_round_medium_side .cls-1 {
    fill: #fff;
}

#head_1_round_medium_side .cls-2 {
    fill: #231f20;
}

#head_1_round_medium_side .cls-3 {
    fill: #e6c2a9;
}

#head_1_round_medium_side .cls-4 {
    fill: #b29286;
    opacity: 0.5;
}

#head_1_round_medium_side .cls-5 {
    fill: #ede0dc;
}

/* eyes_1_green_front */
#eyes_1_green_front .cls-1 {
    fill: #fff;
}

#eyes_1_green_front .cls-2 {
    fill: #53a285;
}

#eyes_1_green_front .cls-3 {
    fill: #231f20;
}

/* eyes_1_green_side */
#eyes_1_green_side .cls-1 {
    fill: #fff;
}

#eyes_1_green_side .cls-2 {
    fill: #53a285;
}

#eyes_1_green_side .cls-3 {
    fill: #231f20;
}

/* eyes_2_blue_front */
#eyes_2_blue_front .cls-1 {
    fill: #fff;
}

#eyes_2_blue_front .cls-2 {
    fill: #4ec9f5;
}

#eyes_2_blue_front .cls-3 {
    fill: #231f20;
}

/* eyes_2_blue_side */

#eyes_2_blue_side .cls-1 {
    fill: #fff;
}

#eyes_2_blue_side .cls-2 {
    fill: #4ec9f5;
}

#eyes_2_blue_side .cls-3 {
    fill: #231f20;
}

/* eyes_2_brown_front */

#eyes_2_brown_front .cls-1 {
    fill: #fff;
}

#eyes_2_brown_front .cls-2 {
    fill: #624434;
}

#eyes_2_brown_front .cls-3 {
    fill: #231f20;
}

/* eyes_2_brown_side */

#eyes_2_brown_side .cls-1 {
    fill: #fff;
}

#eyes_2_brown_side .cls-2 {
    fill: #624434;
}

#eyes_2_brown_side .cls-3 {
    fill: #231f20;
}

/* eyes_2_green_front */

#eyes_2_green_front .cls-1 {
    fill: #fff;
}

#eyes_2_green_front .cls-2 {
    fill: #79c8a0;
}

#eyes_2_green_front .cls-3 {
    fill: #231f20;
}

/* eyes_2_green_side */

#eyes_2_green_side .cls-1 {
    fill: #fff;
}

#eyes_2_green_side .cls-2 {
    fill: #79c8a0;
}

#eyes_2_green_side .cls-3 {
    fill: #231f20;
}

/* G1_pullback_back_black_side */

#G1_pullback_back_black_side .cls-1 {
    fill: #0e0300;
}

#G1_pullback_back_black_side .cls-2 {
    fill: #231f20;
}

#G1_pullback_back_black_side .cls-3 {
    fill: #383030;
}

/* G1_pullback_back_blonde_side */

#G1_pullback_back_blonde_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_blonde_side .cls-2 {
    fill: #d8b44c;
}

#G1_pullback_back_blonde_side .cls-3 {
    fill: #231f20;
}

#G1_pullback_back_blonde_side .cls-4,
#G1_pullback_back_blonde_side .cls-6 {
    fill: #fff;
}

#G1_pullback_back_blonde_side .cls-4,
#G1_pullback_back_blonde_side .cls-5 {
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_blonde_side .cls-7 {
    fill: #7e6400;
}

/* G1_pullback_back_brown_side */
#G1_pullback_back_brown_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_brown_side .cls-2 {
    fill: #be974a;
}

#G1_pullback_back_brown_side .cls-3 {
    fill: #624434;
}

#G1_pullback_back_brown_side .cls-4 {
    fill: #231f20;
}

#G1_pullback_back_brown_side .cls-5 {
    fill: #fff;
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_brown_side .cls-6 {
    fill: #412400;
}

/* G1_pullback_back_front_black */
#G1_pullback_back_front_black .cls-1 {
    fill: #0e0300;
}

#G1_pullback_back_front_black .cls-2 {
    fill: #231f20;
}

#G1_pullback_back_front_black .cls-3 {
    fill: #383030;
}


/* G1_pullback_back_front_blonde */

#G1_pullback_back_front_blonde .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_front_blonde .cls-2 {
    fill: #d8b44c;
}

#G1_pullback_back_front_blonde .cls-3 {
    fill: #231f20;
}

#G1_pullback_back_front_blonde .cls-4 {
    fill: #fff;
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_front_blonde .cls-5 {
    fill: #7e6400;
}

/* G1_pullback_back_front_brown */

#G1_pullback_back_front_brown .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_front_brown .cls-2 {
    fill: #624434;
}

#G1_pullback_back_front_brown .cls-3 {
    fill: #231f20;
}

#G1_pullback_back_front_brown .cls-4 {
    fill: #fff;
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_front_brown .cls-5 {
    fill: #412400;
}

/* G1_pullback_back_front_red */

#G1_pullback_back_front_red .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_front_red .cls-2 {
    fill: #be671b;
}

#G1_pullback_back_front_red .cls-3 {
    fill: #231f20;
}

#G1_pullback_back_front_red .cls-4 {
    fill: #fff;
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_front_red .cls-5 {
    fill: #6c390c;
}

/* G1_pullback_back_front_sandy */

#G1_pullback_back_front_sandy .cls-1 {
    fill: #be974a;
}

#G1_pullback_back_front_sandy .cls-2 {
    fill: #231f20;
}

#G1_pullback_back_front_sandy .cls-3 {
    fill: #d8b44c;
}

#G1_pullback_back_front_sandy .cls-4 {
    fill: #7e6400;
}

/* G1_pullback_back_red_side */

#G1_pullback_back_red_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_back_red_side .cls-2,
#G1_pullback_back_red_side .cls-6 {
    opacity: 0.28;
    mix-blend-mode: overlay;
}

#G1_pullback_back_red_side .cls-3,
#G1_pullback_back_red_side .cls-6 {
    fill: #fff;
}

#G1_pullback_back_red_side .cls-4 {
    fill: #be671b;
}

#G1_pullback_back_red_side .cls-5 {
    fill: #231f20;
}

#G1_pullback_back_red_side .cls-7 {
    fill: #421a00;
}

/* G1_pullback_back_sandy_side */

#G1_pullback_back_sandy_side .cls-1 {
    fill: #be974a;
}

#G1_pullback_back_sandy_side .cls-2 {
    fill: #231f20;
}

#G1_pullback_back_sandy_side .cls-3 {
    fill: #d8b44c;
}

#G1_pullback_back_sandy_side .cls-4 {
    fill: #7e6400;
}

/* G1_pullback_front_black_front */
#G1_pullback_front_black_front .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_black_front .cls-2 {
    fill: #231f20;
}

#G1_pullback_front_black_front .cls-3 {
    fill: #0e0300;
}

#G1_pullback_front_black_front .cls-4 {
    fill: #383030;
}

#G1_pullback_front_black_front .cls-5 {
    fill: #fff;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_black_side */

#G1_pullback_front_black_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_black_side .cls-2 {
    fill: #231f20;
}

#G1_pullback_front_black_side .cls-3 {
    fill: #0e0300;
}

#G1_pullback_front_black_side .cls-4 {
    fill: #383030;
}

#G1_pullback_front_black_side .cls-5 {
    fill: #fff;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_blonde_front */

#G1_pullback_front_blonde_front .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_blonde_front .cls-2 {
    fill: #d8b44c;
}

#G1_pullback_front_blonde_front .cls-3 {
    fill: #231f20;
}

#G1_pullback_front_blonde_front .cls-4 {
    fill: #7e6400;
}

#G1_pullback_front_blonde_front .cls-5 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_blonde_side */

#G1_pullback_front_blonde_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_blonde_side .cls-2 {
    fill: #d8b44c;
}

#G1_pullback_front_blonde_side .cls-3 {
    fill: #231f20;
}

#G1_pullback_front_blonde_side .cls-4 {
    fill: #7e6400;
}

#G1_pullback_front_blonde_side .cls-5 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_brown_front */

#G1_pullback_front_brown_front .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_brown_front .cls-2,
#G1_pullback_front_brown_front .cls-4 {
    fill: #624434;
}

#G1_pullback_front_brown_front .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

#G1_pullback_front_brown_front .cls-3 {
    fill: #231f20;
}

#G1_pullback_front_brown_front .cls-5 {
    fill: #392316;
}

#G1_pullback_front_brown_front .cls-6 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_brown_side */

#G1_pullback_front_brown_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_brown_side .cls-2,
#G1_pullback_front_brown_side .cls-3,
#G1_pullback_front_brown_side .cls-5 {
    fill: #624434;
}

#G1_pullback_front_brown_side .cls-2,
#G1_pullback_front_brown_side .cls-3 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#G1_pullback_front_brown_side .cls-2 {
    stroke-width: 0.5px;
}

#G1_pullback_front_brown_side .cls-3 {
    stroke-width: 0.41px;
}

#G1_pullback_front_brown_side .cls-4 {
    fill: #231f20;
}

#G1_pullback_front_brown_side .cls-6 {
    fill: #392316;
}

#G1_pullback_front_brown_side .cls-7 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_red_front */

#G1_pullback_front_red_front .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_red_front .cls-2 {
    fill: #be671b;
}

#G1_pullback_front_red_front .cls-3 {
    fill: #421a00;
}

#G1_pullback_front_red_front .cls-4 {
    fill: #231f20;
}

#G1_pullback_front_red_front .cls-5 {
    fill: #6c390c;
}

#G1_pullback_front_red_front .cls-6 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_red_side */

#G1_pullback_front_red_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_red_side .cls-2 {
    fill: #be671b;
}

#G1_pullback_front_red_side .cls-3 {
    fill: #421a00;
}

#G1_pullback_front_red_side .cls-4 {
    fill: #231f20;
}

#G1_pullback_front_red_side .cls-5 {
    fill: #6c390c;
}

#G1_pullback_front_red_side .cls-6 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_sandy_front */

#G1_pullback_front_sandy_front .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_sandy_front .cls-2,
#G1_pullback_front_sandy_front .cls-4 {
    fill: #be974a;
}

#G1_pullback_front_sandy_front .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

#G1_pullback_front_sandy_front .cls-3 {
    fill: #231f20;
}

#G1_pullback_front_sandy_front .cls-5 {
    fill: #625100;
}

#G1_pullback_front_sandy_front .cls-6 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G1_pullback_front_sandy_side */

#G1_pullback_front_sandy_side .cls-1 {
    isolation: isolate;
}

#G1_pullback_front_sandy_side .cls-2,
#G1_pullback_front_sandy_side .cls-4 {
    fill: #be974a;
}

#G1_pullback_front_sandy_side .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

#G1_pullback_front_sandy_side .cls-3 {
    fill: #231f20;
}

#G1_pullback_front_sandy_side .cls-5 {
    fill: #625100;
}

#G1_pullback_front_sandy_side .cls-6 {
    fill: #fffbc8;
    opacity: 0.4;
    mix-blend-mode: overlay;
}

/* G2_curlypony_front_black_front */

#G2_curlypony_front_black_front .cls-1 {
    fill: #231f20;
}

#G2_curlypony_front_black_front .cls-2 {
    fill: #0e0300;
}

#G2_curlypony_front_black_front .cls-3 {
    fill: #383030;
}

/* G2_curlypony_front_black_side */

#G2_curlypony_front_black_side .cls-1 {
    fill: #231f20;
}

#G2_curlypony_front_black_side .cls-2 {
    fill: #0e0300;
}

#G2_curlypony_front_black_side .cls-3 {
    fill: none;
}

#G2_curlypony_front_black_side .cls-4 {
    fill: #421a00;
}

#G2_curlypony_front_black_side .cls-5 {
    fill: #383030;
}

/*G2_curlypony_front_blonde_front */

#G2_curlypony_front_blonde_front .cls-1,
#G2_curlypony_front_blonde_front .cls-3 {
    fill: #d8b44c;
}

#G2_curlypony_front_blonde_front .cls-2 {
    fill: #231f20;
}

#G2_curlypony_front_blonde_front .cls-3 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#G2_curlypony_front_blonde_front .cls-4 {
    fill: #796400;
}

/* G2_curlypony_front_blonde_side */

#G2_curlypony_front_blonde_side .cls-1 {
    fill: #d8b44c;
}

#G2_curlypony_front_blonde_side .cls-2 {
    fill: #231f20;
}

#G2_curlypony_front_blonde_side .cls-3 {
    fill: #796400;
}

#G2_curlypony_front_blonde_side .cls-4 {
    fill: none;
}

#G2_curlypony_front_blonde_side .cls-5 {
    fill: #4c3e00;
}

/* G2_curlypony_front_brown_side */

#G2_curlypony_front_brown_side .cls-1,
#G2_curlypony_front_brown_side .cls-2,
#G2_curlypony_front_brown_side .cls-4 {
    fill: #624434;
}

#G2_curlypony_front_brown_side .cls-1,
#G2_curlypony_front_brown_side .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#G2_curlypony_front_brown_side .cls-1 {
    stroke-width: 0.5px;
}

#G2_curlypony_front_brown_side .cls-2 {
    stroke-width: 0.41px;
}

#G2_curlypony_front_brown_side .cls-3 {
    fill: #231f20;
}

#G2_curlypony_front_brown_side .cls-5 {
    fill: #421a00;
}

#G2_curlypony_front_brown_side .cls-6 {
    fill: none;
}

/* G2_curlypony_front_red_front */

#G2_curlypony_front_red_front .cls-1,
#G2_curlypony_front_red_front .cls-3 {
    fill: #be671b;
}

#G2_curlypony_front_red_front .cls-2 {
    fill: #421a00;
}

#G2_curlypony_front_red_front .cls-3 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#G2_curlypony_front_red_front .cls-4 {
    fill: #6c390c;
}

/* G2_curlypony_front_red_side */

#G2_curlypony_front_red_side .cls-1 {
    fill: #be671b;
}

#G2_curlypony_front_red_side .cls-2 {
    fill: #421a00;
}

#G2_curlypony_front_red_side .cls-3 {
    fill: #231f20;
}

#G2_curlypony_front_red_side .cls-4 {
    fill: #6c390c;
}

#G2_curlypony_front_red_side .cls-5 {
    fill: none;
}

/* G2_curlypony_front_sandy_front */
#G2_curlypony_front_sandy_front .cls-1,
#G2_curlypony_front_sandy_front .cls-2,
#G2_curlypony_front_sandy_front .cls-4 {
    fill: #be974a;
}

#G2_curlypony_front_sandy_front .cls-1,
#G2_curlypony_front_sandy_front .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#G2_curlypony_front_sandy_front .cls-1 {
    stroke-width: 0.5px;
}

#G2_curlypony_front_sandy_front .cls-3 {
    fill: #d8b44c;
}

/* G2_curlypony_front_sandy_side */

#G2_curlypony_front_sandy_side .cls-1,
#G2_curlypony_front_sandy_side .cls-3 {
    fill: #be974a;
}

#G2_curlypony_front_sandy_side .cls-1 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

#G2_curlypony_front_sandy_side .cls-2 {
    fill: #231f20;
}

#G2_curlypony_front_sandy_side .cls-4 {
    fill: #d8b44c;
}

#G2_curlypony_front_sandy_side .cls-5 {
    fill: none;
}

#G2_curlypony_front_sandy_side .cls-6 {
    fill: #625100;
}




/* head2_narrow_dark_front */
#head2_narrow_dark_front .cls-1 {
    fill: #fff;
}

#head2_narrow_dark_front .cls-2 {
    fill: #231f20;
}

#head2_narrow_dark_front .cls-3 {
    fill: #a27b56;
}

#head2_narrow_dark_front .cls-4 {
    fill: #876055;
    opacity: 0.51;
}

#head2_narrow_dark_front .cls-5 {
    fill: #ede0dc;
}

/* head_2_narrow_dark_side */
#head_2_narrow_dark_side .cls-1 {
    fill: #fff;
}

#head_2_narrow_dark_side .cls-2 {
    fill: #231f20;
}

#head_2_narrow_dark_side .cls-3 {
    fill: #a27b56;
}

#head_2_narrow_dark_side .cls-4 {
    fill: #876055;
    opacity: 0.51;
}

#head_2_narrow_dark_side .cls-5 {
    fill: #ede0dc;
}

/* head_2_narrow_darkest_front */
#head_2_narrow_darkest_front .cls-1 {
    fill: #fff;
}

#head_2_narrow_darkest_front .cls-2 {
    fill: #231f20;
}

#head_2_narrow_darkest_front .cls-3 {
    fill: #735640;
}

#head_2_narrow_darkest_front .cls-4 {
    fill: #553b32;
    opacity: 0.51;
}

#head_2_narrow_darkest_front .cls-5 {
    fill: #ede0dc;
}

/* head_2_narrow_darkest_side */
#head_2_narrow_darkest_side .cls-1 {
    fill: #fff;
}

#head_2_narrow_darkest_side .cls-2 {
    fill: #231f20;
}

#head_2_narrow_darkest_side .cls-3 {
    fill: #735640;
}

#head_2_narrow_darkest_side .cls-4 {
    fill: #553b32;
    opacity: 0.51;
}

#head_2_narrow_darkest_side .cls-5 {
    fill: #ede0dc;
}

/* head_2_narrow_fair_front */
#head_2_narrow_fair_front .cls-1 {
    fill: #fff;
}

#head_2_narrow_fair_front .cls-2 {
    fill: #231f20;
}

#head_2_narrow_fair_front .cls-3 {
    fill: #f2d4c9;
}

#head_2_narrow_fair_front .cls-4 {
    fill: #c4a3a1;
    opacity: 0.51;
}

#head_2_narrow_fair_front .cls-5 {
    fill: #f9f9fa;
}

/* head_2_narrow_fair_side */
#head_2_narrow_fair_side .cls-1 {
    fill: #fff;
}

#head_2_narrow_fair_side .cls-2 {
    fill: #231f20;
}

#head_2_narrow_fair_side .cls-3 {
    fill: #f2d4c9;
}

#head_2_narrow_fair_side .cls-4 {
    fill: #c4a3a1;
    opacity: 0.51;
}

#head_2_narrow_fair_side .cls-5 {
    fill: #f9f9fa;
}

/* head_2_narrow_medium_front */
#head_2_narrow_medium_front .cls-1 {
    fill: #fff;
}

#head_2_narrow_medium_front .cls-2 {
    fill: #231f20;
}

#head_2_narrow_medium_front .cls-3 {
    fill: #e6c2a9;
}

#head_2_narrow_medium_front .cls-4 {
    fill: #b29286;
    opacity: 0.51;
}

#head_2_narrow_medium_front .cls-5 {
    fill: #ede0dc;
}

/* head_2_narrow_medium_side */
#head_2_narrow_medium_side .cls-1 {
    fill: #fff;
}

#head_2_narrow_medium_side .cls-2 {
    fill: #231f20;
}

#head_2_narrow_medium_side .cls-3 {
    fill: #e6c2a9;
}

#head_2_narrow_medium_side .cls-4 {
    fill: #b29286;
    opacity: 0.51;
}

#head_2_narrow_medium_side .cls-5 {
    fill: #ede0dc;
}

/* g2_curlypony_front_brown_front */
#g2_curlypony_front_brown_front .cls-1,
#g2_curlypony_front_brown_front .cls-2,
#g2_curlypony_front_brown_front .cls-4 {
    fill: #624434;
}

#g2_curlypony_front_brown_front .cls-1,
#g2_curlypony_front_brown_front .cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#g2_curlypony_front_brown_front .cls-1 {
    stroke-width: 0.5px;
}

#g2_curlypony_front_brown_front .cls-3 {
    fill: #421a00;
}